@page
@model IndexModel
@{
    ViewData["Title"] = "Home page1";
}

<div class="text-center">
    <h1 name="mylabel" class="display-4">Welcome</h1>
    <input name"mytextbox" value="@Model.myDate"/>
    <img src="animal.jpg" alt="@Model.myDate" height="200" width="300"></img>
    <img src="Tree.jpg" alt="@Model.myDate" height="200" width="300"/></img>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

